################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/float-calculator/CopilotIndices/17.14.1231.31060
/.vs/float-calculator/FileContentIndex
/.vs/float-calculator/v17
/.vs
